
/* ======================================== ContactBar ================================================ */

.container {
  justify-content: center;
  background-color: var(--secondary-color-1, #23856d);
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 14px;
  color: var(--light-text-color, #fff);
  letter-spacing: 0.2px;
  line-height: 24px;
  padding: 9px 2px 3px;
}

.contactSection {

  display: flex;
  max-width: 1200px;
  gap: 154px;

  margin: 0 auto;
}

.contactDetails {
  display: flex;
  gap: 10px;
  padding: 1px 0;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  padding: 10px;
}

.icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
}

.text {
  font-family: Montserrat, sans-serif;
}

.promoText {
  font-family: Montserrat, sans-serif;
  margin: auto 0;
}

.followUsSection {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.followUsLabel {
  font-family: Montserrat, sans-serif;
}

.socialIcons {
  aspect-ratio: 4.55;
  object-fit: auto;
  object-position: center;
  width: 120px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }

  .contactSection {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}


 /* ======================================== Navigation ================================================ */
/* MyComponent.module.css */
.navigationBar {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  margin: 0.875rem 1.75rem;
  padding: 0 0.0625rem;
}
@media (max-width: 991px) {
  .navigationBar {
    max-width: 100%;
    margin-right: 0.625rem;
    flex-wrap: wrap;
  }
}
.navList {
  display: flex;
  gap: 1.25rem;
  white-space: nowrap;
  margin: auto 0;
}
@media (max-width: 991px) {
  .navList {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.brandName {
  color: var(--text-color, #252b42);
  letter-spacing: 0.1rem;
  flex-grow: 1;
  font: 1.5rem/133% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
.navItem {
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
  color: var(--second-text-color, #737373);
  line-height: 1.71rem;
  padding: 0.4375rem 0;
  font-family: Montserrat, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navIcon {
  width: 0.625rem;
  aspect-ratio: 2;
  object-fit: cover;
  object-position: center;
  fill: var(--text-color, #252b42);
  margin: auto 0;
}
.userOptions {
  display: flex;
  gap: 0rem;
  font-size: 0.875rem;
  color: var(--primary-color, #23a6f0);
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
  align-items: center;
}
.loginSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginIcon {
  width: 0.75rem;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  margin: auto 0;
}
.loginText {
  font-family: Montserrat, sans-serif;
}
.optionIcon {
  width: 2.875rem;
  aspect-ratio: 1.22;
  object-fit: cover;
  object-position: center;
  align-self: stretch;
  margin: auto 0;
}
.activeLink {
  font-weight: bold;
  color: var(--active-link-color, #000);
}

/* ================================================HERO SECTION ============================================= */
.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-background-color, #fff);
  padding: 5rem 3.75rem;
}

@media (max-width: 991px) {
  .mainSection {
    padding: 0 1.25rem;
  }
}

.mainContainer {
  margin-top: 0.25rem;
  width: 100%;
  max-width: 71.625rem;
  display: flex;
  gap: 1.25rem;
}

@media (max-width: 991px) {
  .mainContainer {
    flex-direction: column;
    max-width: 100%;
    gap: 0;
  }
}

.imageColumn {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 991px) {
  .imageColumn {
    width: 100%;
  }
}

.mainImg {
  aspect-ratio: 0.74;
  object-fit: auto;
  object-position: center;
  width: 100%;
}

.itemsColumn {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 991px) {
  .itemsColumn {
    width: 100%;
    gap: 0;
  }
}

.subItemsRow {
  display: flex;
  gap: 1.25rem;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .subItemsRow {
    flex-direction: column;
    gap: 0;
  }
}

.itemCard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  color: var(--text-color, #252b42);
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 1.5;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.itemImg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.itemDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 3.125rem;
}

@media (max-width: 991px) {
  .itemDetails {
    margin-bottom: 2.5rem;
    padding: 0 1.25rem;
  }
}

.itemCount {
  color: var(--success-text-color, #2dc071);
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.itemCategory {
  letter-spacing: 0.1px;
  margin-top: 0.3125rem;
  font: 1.5rem/133% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.itemButton {
  font-family: Montserrat, sans-serif;
  margin-top: 0.3125rem;
  background: none;
  border: none;
  color: var(--text-color, #252b42);
  cursor: pointer;
}

@media (max-width: 768px) {
  .container{
    display: none;
  }
}

